extends ../main/main.jade

block main
  #authors
    .authors-container(ng-if="::authors.length")
      ul.authors-header
        li.name(ng-bind="::lang.authors.author")
        li.books(ng-bind="::lang.authors.books_quantity")

      ul.authors
        li.authors__author(ng-repeat="author in ::authors")
          ul.author-data
            li.name
              a(ng-href="#/books?author={{::author.name}}")
                span(ng-bind="::author.name")
            li.books(ng-bind="::author.books.length")

    p(
      ng-if="::!authors.length",
      ng-bind="::lang.authors.empty")
